@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html{
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
    }


    .navbar {
        color: var(--1-f-1534-hyfen, #1F1534);
        font-size: 18px;
        
        font-weight: 400;
        line-height: normal;
    }

    .selected {
        color: var(--1-f-1534-hyfen, #1F1534);
        font-size: 18px;
        font-weight: 700;
    }

    .text-header{
        color: #000;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
    }

    .text-small-header{
        color: #7D7987;
        font-size: 21px;
        font-weight: 300;
        line-height: 32px;
    }

    .box-shadow{
        box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    }
}